@charset "utf-8";
/*css document*/


/* <-------- Commonly used ids and classes ------------> */
.hidden {
	display: none;
}

#container{
	margin: 0 auto;

	width: 1280px;
	/* background-color: #e77878; */
}

p{
	color: white;
	font-size: 20px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Maven Pro', sans-serif;
	letter-spacing: 3px;
}

h2{
	color: #e77878;
	font-size: 34px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: 'Maven Pro', sans-serif;
	letter-spacing: 3px;
}

a{
	color: white;
	font-family: 'Maven Pro', sans-serif;
	text-decoration: none;
}

li a:hover{
	color: #e77878 ;
}

a:hover{
	color: #e77878;
}
/* <-------- These are the header elements------------> */
#header{
	background-color: #e77878;
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#header img{
	width: 600px;
}
#searchForm input{
	margin-top: 35px;
	width: 100px;
	padding: 6px 15px 6px 35px;
	border: 1px solid #d1d1d1;
	background-color: white;
	border-radius: 20px;
	text-shadow: 0 2px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0.15) inset;
	text-align: left;
}

::placeholder{
	color:#e77878;
}

#signIn{
	margin-top: 35px;
}

#signIn:hover{
	color: black;
}
/* the nav elements */
#mainNav{
	display: inline;
	background-color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 60px;
}

#mainNav li{
	margin-top: 20px;
	display: inline;
	margin-right: 10px;
	margin-left: 10px;
}

/* end of header elements */

/* <---------------------Intro Section Elements---------------------> */




/* <-------- These are the active playing icons elements------------> */
#icons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 20px;
}

#playingIcons{
	margin-top: 40px;
	margin-bottom: 50px;
}
.iconSvg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.dropzone{
	margin: 0 auto;
	display: flex;
	justify-content: center;
	width: 90px;
	height: 90px;
	align-items: center;
	background-color: grey;
	margin-bottom: 10px;
	opacity: .1;
}


/* end of playing icons */


/* <-------- These are the icon set elements ------------> */
#iconButtons{
	width: 800px;
	border-radius: 10px;
	border: 5px solid #e77878;
	margin: 0 auto;
	margin-bottom: 20px;
}

#iconHolder{
	width: 800px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	border-radius: 10px;
	border: 5px solid #e77878;
	margin: 0 auto;
	margin-bottom: 20px;
}


.iconSet{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 20px;
}

.iconSet img{
	height: 80px;
	width: 80px;
}

.iconSet:hover{
	cursor: -webkit-grab;
	cursor: grab;
}

.iconSet:active{
	cursor: -webkit-grabbing;
	cursor: grabbing;
}


/* <------------These are the footer elements-------------> */
#footer{
	background-color: #e77878;
	height: 250px;
}

#footer h2{
	color: white;
}

#moreGames{
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: black;
	height: 50px;
}

#moreGames a{
	margin-top: 15px;
	font-size: 20px;
}

#socialIcons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
}
#socialIcons img{
	width: 50px;
	height: 50px;
	margin-right: 10px
}
